[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
psycopg2-binary = "*"
django-cors-headers = "*"
social-auth-app-django = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.8"
